# Pesan peringatan keamanan tetap akan muncul, itu normal.

name: Flutter CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Gunakan setup-flutter, bukan setup-dart
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable' # atau 'beta' / 'dev'

      - name: Install dependencies
        # Perintah ini sudah benar untuk Flutter
        run: flutter pub get

      # - name: Verify formatting
      #   run: dart format --output=none --set-exit-if-changed .

      - name: Analyze project source
        # Gunakan 'flutter analyze'
        run: dart analyze --no-fatal-warnings
